<mat-nav-list>
  <div class="profile-card">
    <div class="header">
      <h2>
        Jerry Liu
      </h2>
      <h4>zliu633@uwo.ca</h4>
    </div>
    <img src="https://media-exp1.licdn.com/dms/image/C4D03AQGCZJZFbJmcUw/profile-displayphoto-shrink_400_400/0?e=1603324800&v=beta&t=49fbBIupUo6nWPFiL-OaEOqxxZaqLc5Vvq0ougD1dmg" alt="Jerry Liu">
  </div>
  <mat-divider></mat-divider>
  <h2 matSubheader>
    Pages
  </h2>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">New Search</a>

  <mat-divider></mat-divider>


  <h2 matSubheader>Tools</h2>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
    <mat-icon>import_contacts</mat-icon>
    Contact us
  </a>

</mat-nav-list>
